
<div class="header-inner bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jobber-user-info">
              <div class="profile-avatar">
                  <!-- LogoImage -->
                <img class="img-fluid " src="../../../assets/images/{{image}}" alt="">
              
              </div>
              <div class="profile-avatar-info ms-4">
                  <!-- company Name -->
                 <h3>{{companyName}}</h3>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
  inner banner -->