<app-nav-bar></app-nav-bar>

<!--=================================
banner -->
<section class="header-inner header-inner-big bg-holder text-white" style="background-image: url(../../../assets/ass1/images/bg/banner-01.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="job-search-field">
            <div class="job-search-item">
              <form class="form row">
                <div class="col-lg-5">
                  <div class="form-group left-icon mb-3">
                    <input type="text" class="form-control" name="job_title" placeholder="What?">
                  <i class="fas fa-search"></i> </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group left-icon mb-3">
                    <input type="text" class="form-control" name="job_title" placeholder="Where?">
                  <i class="fas fa-search"></i> </div>
                </div>
                <div class="col-lg-2 col-sm-12">
                  <div class="form-group form-action">
                    <button type="submit" class="btn btn-primary mt-0"><i class="fas fa-search-location"></i> Find Job</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  banner -->

  
<!--=================================
job-grid -->
<section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--=================================
          right-sidebar -->
          <div class="row mb-4">
            <div class="col-12">
                <!-- number of job vac -->
              <h6 class="mb-0"><span class="text-primary btn btn-sm btn-dark">{{countofjob}} Jobs</span></h6>
            </div>
          </div>
         
       
          <div class="row">
            <div *ngFor="let j of jobvac.data"  class="col-md-6 col-lg-4">
              <div class="job-list job-grid">
                <div class="job-list-logo">
                    <!-- company logo -->
                  <img class="img-fluid" src="../../../assets/images/{{j.logoImage}}" alt="">
                </div>
                <div class="job-list-details">
                  <div class="job-list-info">
                    <div class="job-list-title">
                        <!-- job title -->
                      <h5 class="mb-0"><a href="#">{{j.joptitle}}</a></h5>
                    </div>
                    <div class="job-list-option">
                      <ul class="list-unstyled">
                          <!-- company url -->
                        <li>  <a href="employer-detail.html">{{j.fullname}}</a> </li>
                        <!-- job Location  -->
                        <li><i class="fas fa-map-marker-alt pe-1"></i>{{j.joblocation}}</li>
                        
                        <li>  $   <!-- Salary --> {{j.salary}} </li>
                      <li>  <i  class="fas fa-calendar-alt"></i> <!-- date start --> {{j.applaydate |date:'mediumDate'}} -  <!-- date End --> {{j.lastdate | date:'mediumDate'}}</li>

                       <li><i class="far fa-clock pe-2"></i><!--open job-->{{j.opening }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="job-list-favourite-time"> 
                    <div style="margin: auto;"  class="job-list"> 
                        <button (click)="apply(j.jobVacancy_ID)"   class="btn btn-primary "><i class="far fa-paper-plane"></i>Apply for Job</button>
  
                        </div>
                     </div>
              </div>
            </div>
          
         
          </div>
       
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  job-grid -->

<app-footer></app-footer>