<!--=================================
Footer-->
<footer class="footer bg-light">
    <div class="position-relative">
   
      
      
      <div class="footer-bottom bg-dark mt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ">
              <div class="d-flex justify-content-md-start justify-content-center">
                <ul class="list-unstyled d-flex mb-0">
                  <li><a href="#">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="#">Company</a></li>
                  <li><a href="contact-us.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 text-center text-md-end mt-4 mt-md-0">
              <p class="mb-0"> &copy;Copyright <span id="copyright"> {{currentYear}}</span> <a style="color: #e07900; font-family: Lucida Handwriting;"(click)="Home()"> {{NameHome}} </a> All Rights Reserved </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--=================================
  Footer-->

