<app-admin-navbar></app-admin-navbar>
  
  <!--=================================
  Dashboard Nav -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sticky-top secondary-menu-sticky-top">
            <div class="secondary-menu">
              <ul>
                <!-- <li><a href="dashboard-employer.html">Dashboard</a></li> -->
                <li><a class="active" (click)="profile()">My Profile</a></li> 
                
                <li><a  (click)="company()">Company Details</a></li>
                <li><a  (click)="job()">Job Vacancy</a></li>
                <li><a   (click)="applyjob()">Job Applied</a></li>
                <li><a  (click)="User()">User Details</a></li>
                <li><a (click)="Report()">Reports</a></li>
                <li><a  (click)="message()">Message</a></li>
                <li><a  (click)="Manage()">Manage Site</a></li>
                <li><a (click)="login()">Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Dashboard Nav -->
  
  <!--=================================
  My Profile -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="user-dashboard-info-box">
            <div class="section-title-02 mb-4">
              <h4>Basic Information</h4>
            </div>
        
            <div class="cover-photo-contact">
 
              <div class="upload-file">
                <input  class="form-control" type="file" #file placeholder="Choose Image" 
                formControlName="imagename" (change)="uploadFile($event)" 
                style="display:none;">
                <label  for="formFile" class="form-label"  (click)="file.click()">Upload your Photo</label>

              </div>
        
            </div> 
            <form [formGroup]="UpdateAdmin" >
              <div class="row">
                <!-- <div class="form-group col-md-6 mb-3">
                  <label class="form-label">Company Name</label>
                  <input type="text" class="form-control" value="Fleet Improvements Pvt">
                </div> -->
              
                <div class="form-group col-md-6 mb-3">
                  <label class="form-label">First Name</label>
                  <input type="text" formControlName="fname" class="form-control"  >

                </div>
                <div class="form-group col-md-6 mb-3">
                  <label class="form-label">Last Name</label>
                  <input type="text" formControlName="lname" class="form-control" >
                </div>
                <div class="form-group col-md-6 mb-3">
                  <label class="form-label">Phone</label>
                  <input type="text" formControlName="phone" class="form-control" >
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" value="support@fleetimprovements.com">
                  </div>
                 
                <div class="form-group col-md-6 mb-3 datetimepickers">
                  <label class="form-label">Birth Date</label>
                  <div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
                    <input type="date"  formControlName="birthOfDate"class="form-control datetimepicker-input" value="09/03/1996" data-target="#datetimepicker-01">
                    <div class="input-group-append d-flex" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                  </div> 
                </div>
               
                <div class="form-group col-md-6 mb-3 select-border">
                  <label class="form-label">Gender</label>
                  <select formControlName="gender" class="form-control basic-select">
                    <option value="Female" selected="selected">Female</option>
                    <option value="Male">Male</option>
                  </select>
                </div>
                <div class="form-group col-md-6 mb-3 mb-md-0">
                  <label  class="form-label">Address</label>
                  <input formControlName="address" type="text" class="form-control" >
                </div>
               
              </div>





              
            </form>
          </div>
         
          <a class="btn btn-md btn-primary" (click)="Update()">Save Settings</a>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  My Profile -->
  <br>
  <!--=================================
Change Password -->
<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box">
          <div class="section-title-02 mb-4">
            <h4>Change Password</h4>
          </div>
          <div class="row">
            <div class="col-12">
              <form [formGroup]="changepassword" class="row">
                <div class="form-group mb-3 col-md-12">
                  <label class="form-label">Current Password</label>
                  <input formControlName="currentPass" type="password" class="form-control" value="">
                    <mat-error  style="color: brown;" *ngIf="myError('currentPass', 'required') ">
                      Current Password is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="form-group mb-3 col-md-12">
                  <label class="form-label">New Password</label>
                  <input formControlName="newPass" type="password" class="form-control" value="">
                  <mat-error style="color: brown;" *ngIf="myError('newPass', 'required') ">
                    New Password is <strong>required</strong>
                  </mat-error>
                </div>
                <div class="form-group col-md-12 mb-0">
                  <label class="form-label">Confirm Password</label>
                  <input formControlName="confirmPass" type="password" class="form-control" value="">
                  <mat-error style="color: brown;" *ngIf="myError('confirmPass', 'required') ">
                    Confirm Password is <strong>required</strong>
                  </mat-error>
                  <mat-error style="color: brown;" *ngIf=" myError('confirmPass', 'matching') ">
                    Confirm Password is <strong>Not Match</strong>
                  </mat-error>
                </div>
              </form>
            </div>
          </div>
        </div>
        <a class="btn btn-lg btn-primary" (click)="changePass()">Change Password</a>
      </div>
    </div>
  </div>
</section> -->
<!--=================================
Change Password -->