
<!--=================================
inner banner -->
<div class="header-inner bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jobber-user-info">
              <div class="profile-avatar">
                <!-- admin Image -->
                <img class="img-fluid " src="../../../assets/images/{{Image}}" alt="">
                <!-- <i class="fas fa-pencil-alt"></i> -->
              </div>
              <div class="profile-avatar-info ms-4">
                 <h3> {{fullName}}</h3>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
  inner banner -->